:host {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.register-card {
  background: var(--card-overlay);
  padding: 3rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--white);
  font-size: var(--lg);
  margin-bottom: 0.8rem;
}

p {
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--white);
  font-size: var(--xs);
}

.form-label {
  color: var(--white);
}

.btn-primary {
  background: var(--primary-color);
  width: 100%;
  margin-top: 0.8rem;
}

.btn-primary:hover {
  background: var(--primary-color-hv);
}

.link-container {
  margin-top: 2rem;
  text-align: center;
}

.link-container p {
  color: var(--white);
  font-size: var(--xs);
  margin-bottom: 0;
}

.link-container .link {
  color: var(--white);
  font-weight: 600;
  text-decoration: underline;
}

.link-container .link:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .register-card {
    padding: 4rem;
  }

  h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 360px) {
  :host {
    padding: 1rem;
  }

  .register-card {
    padding: 2rem 1.5rem;
  }
}
